/*footer*/

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $acent-color;
}

.studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}
.footer__address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $primary-white-color;
}

.footer__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer__email {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer__end {
  margin-left: 70px;
}

.footer__join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $primary-white-color;
}

.footer-networks {
  display: flex;
  padding: 0;
}

.footer__social-links {
  display: flex;
  color: $primary-white-color;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  transition: background-color $time-transition $function-bezier,
    box-shadow $time-transition $function-bezier;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $acent-color;
  }
}

.footer__icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer__form {
  margin-left: auto;
}

.footer__form-input {
  padding: 17px;

  width: 358px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  color: $primary-white-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer__form-input::placeholder {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer__form-button {
  margin-left: 13px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: $primary-white-color;
  background: $acent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: transparent;
}

.footer__form-icon {
  fill: $primary-white-color;
  align-items: center;
  justify-content: center;
  transform: translateY(5px);
}
