.team {
  padding-bottom: 94px;
  background: #f5f4fa;
  padding-top: 94px;
}

.team__container {
  margin-left: auto;
  margin-right: auto;
  width: 1172px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid transparent;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team__work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__work .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__work .item:nth-child(4n) {
  margin-right: 0;
}

.team__staff {
  padding-top: 30px;
}

.team__name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__positions {
  font-size: 16px;
  line-height: 1.19px;
  color: $paragraph-color;
  text-align: center;
}

.team__networks {
  display: flex;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team__social-link {
  display: flex;
  color: #afb1b8;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primary-white-color;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
  transition: color $time-transition $function-bezier,
    background-color $time-transition $function-bezier,
    box-shadow $time-transition $function-bezier;
}

.team__social-link:hover,
.team__social-link:focus {
  color: $primary-white-color;
  background-color: $acent-color;
}

.team__icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
