$title-text-color: #212121;
$acent-color: #2196f3;
$paragraph-color: #757575;
$primary-white-color: #ffffff;
$fon-hero-color: rgba(47, 48, 58, 0.4);
$icons-color: #afb1b8;

$function-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$time-transition: 250ms;
